  .cell-height1 { 
    height: 20px;
  }
  .cell-height2 { 
    height: 37px;
  }
  .cell-height3 { 
    height: 57px;
  }
  .cell-height4 { 
    height: 77px;
  }
  .cell-height5 { 
    height: 97px;
  }
  .cell-height6 { 
    height: 117px;
  }
  .cell-height7 { 
    height: 137px;
  }
  .cell-height8 { 
    height: 157px;
  }
  .cell-height9 { 
    height: 177px;
  }
  .cell-height10 { 
    height: 197px;
  }
  .cell-height11 { 
    height: 217px;
  }
  .cell-height12 { 
    height: 237px;
  }
  .cell-height13 { 
    height: 257px;
  }
  .cell-height14 { 
    height: 277px;
  }
  .cell-height15 { 
    height: 297px;
  }
  .cell-height16 { 
    height: 317px;
  }
  .cell-height17 { 
    height: 337px;
  }
  .cell-height18 { 
    height: 357px;
  }
  .cell-height19 { 
    height: 377px;
  }
  .cell-height20 { 
    height: 397px;
  }
  .cell-height21 { 
    height: 417px;
  }
  .cell-height22 { 
    height: 437px;
  }
  .cell-height23 { 
    height: 457px;
  }
  .cell-height24 { 
    height: 477px;
  }
  .cell-height25 { 
    height: 497px;
  }
  .cell-height26 { 
    height: 517px;
  }
  .cell-height27 { 
    height: 537px;
  }
  .cell-height28 { 
    height: 557px;
  }
  .cell-height29 { 
    height: 577px;
  }
  .cell-height30 { 
    height: 597px;
  }
  .cell-height31 { 
    height: 617px;
  }
  .cell-height32 { 
    height: 637px;
  }
  .cell-height33 { 
    height: 657px;
  }
  .cell-height34 { 
    height: 677px;
  }
  .cell-height35 { 
    height: 697px;
  }
  .cell-height36 { 
    height: 717px;
  }
  .cell-height37 { 
    height: 737px;
  }
  .cell-height38 { 
    height: 757px;
  }
  .cell-height39 { 
    height: 777px;
  }
  .cell-height40 { 
    height: 797px;
  }
  .cell-height41 { 
    height: 817px;
  }
  .cell-height42 { 
    height: 837px;
  }
  .cell-height43 { 
    height: 857px;
  }
  .cell-height44 { 
    height: 877px;
  }
  .cell-height45 { 
    height: 897px;
  }
  .cell-height46 { 
    height: 917px;
  }
  .cell-height47 { 
    height: 937px;
  }
  .cell-height48 { 
    height: 957px;
  }
  .cell-height49 { 
    height: 977px;
  }
  .cell-height50 { 
    height: 997px;
  }
  .cell-height51 { 
    height: 1017px;
  }
  .cell-height52 { 
    height: 1037px;
  }
  .cell-height53 { 
    height: 1057px;
  }
  .cell-height54 { 
    height: 1077px;
  }
  .cell-height55 { 
    height: 1097px;
  }
  .cell-height56 { 
    height: 1117px;
  }
  .cell-height57 { 
    height: 1137px;
  }
  .cell-height58 { 
    height: 1157px;
  }
  .cell-height59 { 
    height: 1177px;
  }
  .cell-height60 { 
    height: 1197px;
  }
  .cell-height61 { 
    height: 1217px;
  }
  .cell-height62 { 
    height: 1237px;
  }
  .cell-height63 { 
    height: 1257px;
  }
  .cell-height64 { 
    height: 1277px;
  }
  .cell-height65 { 
    height: 1297px;
  }
  .cell-height66 { 
    height: 1317px;
  }
  .cell-height67 { 
    height: 1337px;
  }
  .cell-height68 { 
    height: 1357px;
  }
  .cell-height69 { 
    height: 1377px;
  }
  .cell-height70 { 
    height: 1397px;
  }
  .cell-height71 { 
    height: 1417px;
  }
  .cell-height72 { 
    height: 1437px;
  }
  .cell-height73 { 
    height: 1457px;
  }
  .cell-height74 { 
    height: 1477px;
  }
  .cell-height75 { 
    height: 1497px;
  }
  .cell-height76 { 
    height: 1517px;
  }
  .cell-height77 { 
    height: 1537px;
  }
  .cell-height78 { 
    height: 1557px;
  }
  .cell-height79 { 
    height: 1577px;
  }
  .cell-height80 { 
    height: 1597px;
  }
  .cell-height81 { 
    height: 1617px;
  }
  .cell-height82 { 
    height: 1637px;
  }
  .cell-height83 { 
    height: 1657px;
  }
  .cell-height84 { 
    height: 1677px;
  }
  .cell-height85 { 
    height: 1697px;
  }
  .cell-height86 { 
    height: 1717px;
  }
  .cell-height87 { 
    height: 1737px;
  }
  .cell-height88 { 
    height: 1757px;
  }
  .cell-height89 { 
    height: 1777px;
  }
  .cell-height90 { 
    height: 1797px;
  }
  .cell-height91 { 
    height: 1817px;
  }
  .cell-height92 { 
    height: 1837px;
  }
  .cell-height93 { 
    height: 1857px;
  }
  .cell-height94 { 
    height: 1877px;
  }
  .cell-height95 { 
    height: 1897px;
  }
  .cell-height96 { 
    height: 1917px;
  }


.event.track-default {
  background-color: #555;
  border-color: #555;
}
.event.track-default div.event-header {
  background-color: #555;
}
.event.track-default div.event-header a {
  color: #fff;
}
.conference-background {
  background-color: #555;
}


  .event.track-art-beauty {
    background-color: #ff00ff;
    border-color: #ff00ff;
  }
  .event.track-art-beauty div.event-header {
    background-color: #ff00ff;
  }
  .event.track-art-beauty div.event-header a {
    color: #000;
  }

  .event.track-ccc {
    background-color: #0011ff;
    border-color: #0011ff;
  }
  .event.track-ccc div.event-header {
    background-color: #0011ff;
  }
  .event.track-ccc div.event-header a {
    color: #fff;
  }

  .event.track-dlf {
    background-color: #555;
    border-color: #555;
  }
  .event.track-dlf div.event-header {
    background-color: #555;
  }
  .event.track-dlf div.event-header a {
    color: #fff;
  }

  .event.track-entertainment {
    background-color: #808080;
    border-color: #808080;
  }
  .event.track-entertainment div.event-header {
    background-color: #808080;
  }
  .event.track-entertainment div.event-header a {
    color: #000;
  }

  .event.track-ethics-society-politics {
    background-color: #00fc0d;
    border-color: #00fc0d;
  }
  .event.track-ethics-society-politics div.event-header {
    background-color: #00fc0d;
  }
  .event.track-ethics-society-politics div.event-header a {
    color: #fff;
  }

  .event.track-hardware-making {
    background-color: #ddff00;
    border-color: #ddff00;
  }
  .event.track-hardware-making div.event-header {
    background-color: #ddff00;
  }
  .event.track-hardware-making div.event-header a {
    color: #000;
  }

  .event.track-music {
    background-color: #555;
    border-color: #555;
  }
  .event.track-music div.event-header {
    background-color: #555;
  }
  .event.track-music div.event-header a {
    color: #fff;
  }

  .event.track-other {
    background-color: #ff0000;
    border-color: #ff0000;
  }
  .event.track-other div.event-header {
    background-color: #ff0000;
  }
  .event.track-other div.event-header a {
    color: #fff;
  }

  .event.track-science-engineering {
    background-color: #ff8000;
    border-color: #ff8000;
  }
  .event.track-science-engineering div.event-header {
    background-color: #ff8000;
  }
  .event.track-science-engineering div.event-header a {
    color: #fff;
  }

  .event.track-security-safety {
    background-color: #00fbff;
    border-color: #00fbff;
  }
  .event.track-security-safety div.event-header {
    background-color: #00fbff;
  }
  .event.track-security-safety div.event-header a {
    color: #000;
  }
