$sidewidth: 640px;

* {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

body {


  #container {
    max-width: $sidewidth;
    min-width: 300px;
    margin: 0px auto;
  }

  #content {
    height: 100%;

    h2 {
      font-size: 24px;
      margin-bottom: 5px;
      margin-top: 15px;

      font-weight: 500;
      line-height: 1.1;

      a:link, a:hover, a:visited {
        font-size: 24px;
        text-decoration: none;
      }
    }

    .video {
      background: rgba(255,255,255,0.85);
      width: $sidewidth;
      margin-left: auto ;
      margin-right: auto ;
    }

    #slide {
      margin-bottom: -3px;
    }

    .text {
      background: rgba(255,255,255,0.85);
      min-height: 360px;

      margin-left: auto;
      margin-right: auto;

      section {
        float: left;
        width: 40%;
        min-width: ($sidewidth - 40)/2;
        height: 100px;
        margin-top: 5px;
        margin-bottom: 15px;
        padding-left: 15px;
      }

      a:link, a:hover, a:visited {
        text-decoration: none;
        display: block;
      }
    }
  }

  #footer {
    /* background: rgba(0, 51, 57, 0.7); */
    background-color: rgba(0, 0, 0, 0.6);

    margin-left: auto;
    padding-left: 10px;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: left;
    position:relative;


    .links {
      display: inline;
      position: relative;
      height: 30px;

      padding-top: 5px;

      a:link, a:hover, a:visited {
        font-size: 23-15px;
        color: #ffffff;
        text-decoration: none;
      }
    }

    .logos {
      float: right;
      display: inline;

      padding-top: 5px;
    }
  }
}

#chooser {
  float: right;
  width: auto;
  color: white;
  font-size: 11px;
  height: 17px;
  padding: 8px 8px 0px 3px;
}
#chooser a {
  color: #02f0fb; 
}
#chooser .selected {
  color: white;
}
#language {
  margin-left: 15px;
}
#quality,
#language,
#url {
  position: relative; 
}
#url a {
  color: white;
  text-decoration: none;
  padding-right: 5px;
}
#url a:hover {
  text-decoration: underline;
}
#quality ul,
#language ul {
  display:none;
  position: absolute;
  top: 0px;
  padding: 2px;
  background-color: rgba(0,0,0,0.7);
  list-style-type: none;
  z-index: 999;
}
#chooser li a,
#chooser li .selected
{
  display:block;
  padding: 5px 15px;
  text-decoration: none;

}
#chooser li .selected {
  background-color: #02f0fb;
  color: black;
}
#chooser li a:hover {
  text-decoration: underline;
  background-color: white;
  color: black;
}
#quality:hover ul,
#language:hover ul
{
  display:block;
}

#URLS {
  background-color: black;
  margin: 0px;
  list-style: none;
}
#URLS label {
  color: white;
  width: 100px;
  display:inline-block;
  padding-left:10px;
}

#URLS input {
  color: black;
  border: 1px solid #ccc;
  padding:2px;
  width: 70%;
  min-width: 295px;
}
