%video{ id: @item[:title].downcase, class: "video-js vjs-default-skin", width: '640', height: '480', controls: true, preload: 'auto', poster: '/img/rocket.png' }
  %source{ src: "http://live.streaming.sigint.ccc.de:8000/#{@item[:saal].downcase}.ogg", type: 'video/ogg' }/
