!!! 5
!!! xml
%html{ xmlns: 'http://www.w3.org/1999/xhtml', lang: :en, 'xml:lang' => :en }
  %head
    %title
      STREAMING - SIGINT 2013 -
      = @item[:title]

    %meta{ charset: 'utf-8' }
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/video-js.min.css', type: 'text/css', rel: 'stylesheet' }

    %script{ src: '/js/video.js'}
    %script
      videojs.options.flash.swf = '/video-js.swf'

  %body
    %header
      #logo
        %img{ src: '/img/logo.png' }
      %h1#header
        July 5
        %small
          th
        \-7
        %small
          th, KOMED im Mediapark, Cologne, Germany
      %nav
        = render '_menu'
    #content
      = yield
