!!! 5
%html{ html_attrs('en') }
  %head
    %title
      STREAMING - SIGINT 2013 -
      = @item[:title]

    %meta{ charset: 'utf-8' }
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '//fonts.googleapis.com/css?family=Dosis:400&amp;subset=latin,latin-ext', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/video-js.min.css', type: 'text/css', rel: 'stylesheet' }

    %script{ src: '/js/video.js'}
    %script
      videojs.options.flash.swf = '/video-js.swf'

  %body
    %header
      #logo
        %img{ src: '/img/logo.png', alt: 'SIGINT 2013' }

      %h1#header
        July 5
        %small
          th
        \-7
        %small
          th, KOMED im Mediapark, Cologne, Germany
      %nav
        = render '_menu'

    #content
      = yield

      %small
        %center
          Format
          %a{ href: '/summary/'} summary
          \.
          %a{ href: 'https://sigint.ccc.de/schedule/' } Fahrplan
          \.