@font-face {
  font-family: RamseyBook;
  src: url("/static/ramsey-book.otf") format("opentype"); }

* {
  margin-left: 0;
  margin-right: 0;
  padding: 0; }

body {
  font-family: verdana, arial, helvetica, sans-serif;
  background: url("/img/blackhole_drop.jpg") no-repeat -450px -300px;
  background-attachment: fixed;
  background-color: #02f0fb;
  margin: 10px; }
  body #header {
    /* 30c3 */ }
    body #header .logo {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      text-align: center; }
      body #header .logo img {
        width: 283px;
        height: 108px; }
    body #header .headline {
      border-bottom: 2px black;
      text-align: center;
      font-family: RamseyBook, verdana, arial, helvetica, sans-serif;
      font-size: 39px;
      color: #ffffff;
      text-shadow: -3px 0 #0099AB, 0 3px #0099AB, 3px 0 #0099AB, 0 -3px #0099AB; }
  body #container {
    max-width: 640px;
    min-width: 440px;
    margin: 0px auto; }
  body #content {
    height: 100%; }
    body #content h2 {
      font-family: RamseyBook, verdana, arial, helvetica, sans-serif;
      font-size: 24px;
      color: #0099AB;
      margin-bottom: 5px;
      margin-top: 15px;
      font-weight: 500;
      line-height: 1.1; }
      body #content h2 a:link, body #content h2 a:hover, body #content h2 a:visited {
        font-family: RamseyBook, verdana, arial, helvetica, sans-serif;
        font-size: 24px;
        color: #0099AB;
        text-decoration: none; }
    body #content .video {
      background: rgba(255, 255, 255, 0.85);
      width: 640px;
      margin-left: auto;
      margin-right: auto; }
    body #content .text {
      background: rgba(255, 255, 255, 0.85);
      min-height: 360px;
      margin-left: auto;
      margin-right: auto; }
      body #content .text dl {
        float: left;
        width: 40%;
        min-width: 300px;
        height: 100px;
        margin-top: 5px;
        margin-bottom: 15px;
        padding-left: 15px; }
      body #content .text dd {
        float: left;
        width: 100px;
        margin: 0;
        padding: 0; }
      body #content .text dd:after {
        content: ':'; }
      body #content .text dt {
        padding-right: 0px; }
        body #content .text dt a:link, body #content .text dt a:hover, body #content .text dt a:visited {
          font-family: verdana, arial, helvetica, sans-serif;
          color: #0099AB;
          text-decoration: none; }
  body #footer {
    /* background: rgba(0, 51, 57, 0.7); */
    background-color: rgba(0, 0, 0, 0.6);
    height: 30px;
    padding-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: relative; }
    body #footer .links {
      display: inline;
      position: relative; }
      body #footer .links a:link, body #footer .links a:hover, body #footer .links a:visited {
        font-family: RamseyBook, verdana, arial, helvetica, sans-serif;
        font-size: 23 -15px;
        color: #ffffff;
        text-decoration: none;
        text-shadow: -1px 0 #0099AB, 0 1px #0099AB, 1px 0 #0099AB, 0 -1px #0099AB; }
    body #footer .voc_logo {
      position: absolute;
      display: inline;
      float: right;
      right: 125px; }
      body #footer .voc_logo img {
        width: 26px;
        height: 20px; }
    body #footer .fem_logo {
      position: absolute;
      display: inline;
      float: right;
      right: 15px;
      margin-left: 5px; }
      body #footer .fem_logo img {
        width: 95px;
        height: 20px; }
  body .rocket {
    z-index: -1;
    position: fixed;
    top: 5px;
    left: 125px;
    width: 290px;
    height: 343px;
    background: url("/img/rocket_png_klein.png") no-repeat;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in; }
  body .logo:hover .rocket {
    -webkit-transform: translate(800px, -200px) rotate(30deg);
    -moz-transform: translate(800px, -200px) rotate(30deg);
    -o-transform: translate(800px, -200px) rotate(30deg);
    -ms-transform: translate(540px, -200px) rotate(30deg);
    transform: translate(800px, -200px) rotate(30deg);
    -webkit-transform: translate(800px, -200px) rotate(30deg);
    -moz-transform: translate(800px, -200px) rotate(30deg);
    -o-transform: translate(800px, -200px) rotate(30deg);
    -ms-transform: translate(540px, -200px) rotate(30deg);
    transform: translate(800px, -200px) rotate(30deg); }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

#chooser {
  float: right;
  width: auto;
  color: white;
  font-size: 11px;
  height: 17px;
  padding: 8px 8px 0px 3px; }

#chooser a {
  color: #02f0fb; }

#chooser .selected {
  color: #999; }

#language {
  margin-left: 15px; }

#quality,
#language {
  position: relative; }

#quality ul,
#language ul {
  display: none;
  position: absolute;
  top: 0px;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.7);
  list-style-type: none;
  z-index: 999; }

#chooser li a,
#chooser li .selected {
  display: block;
  padding: 5px 15px;
  text-decoration: none; }

#chooser li a:hover {
  background-color: #02f0fb;
  color: black;
  text-decoration: underline; }

#quality:hover ul,
#language:hover ul {
  display: block; }

/*
@media screen and (min-width: 320px) {
  body {
    background-image: url('/img/iPhone_320x480.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    color: yellow;
  }

  .logo {
    width: 50%;
    hight: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width: 1200px) {
  body {
    background-image: url('/img/1280x800-NEW.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-width: 100%;
    background-hight: 100%;
    color: red;

    header {
      #menu {
        ul {
          margin: auto;
          padding: 0;
          list-style-type: none;
          display: inline-block;

          li:first-of-type {
            border-left: none;
          }

        }
      }


      .logo {
        width: 15%;
        hight: 15%;
        display: block;
        margin-left: auto;
        margin-right: 20px;
      }
    }
  }
}

@media screen and (min-width: 1900px) {
  body {
    background-image: url('/img/2880x1800-NEW.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-width: 100%;
    background-hight: 100%;
    color: green;
  }

  .logo {
    width: 10%;
    hight: 10%;
    display: block;
    margin-left: auto;
    margin-right: 20px;
  }
}  */
