!!! 5
%html{ html_attrs('de') }
  /
    Don't use the f*cking webplayer!!1!

  %head
    %title
      Das Sendezentrum live auf der re:publica 2014

    %meta{ charset: 'utf-8' }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/mediaelementplayer.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: 'https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold', type: 'text/css', rel: 'stylesheet' }



    %script{ type: "text/javascript", src: "/js/jquery.js" }
    %script{ type: "text/javascript", src: "/js/avalon/mediaelement-and-player.min.js" }

  %body
    #container

      %article
        = yield

      %footer
        %a{ href: 'https://docs.google.com/spreadsheet/pub?key=0AhLO_CGHIs5JdE9qamgtZERpWjRPdmpZX0hoV2FpYVE&output=html' } Programm
        |
        %a{ href: 'https://twitter.com/Sendezentrum' } Twitter
        |
        %a{ href: 'https://alpha.app.net/sendezentrum' } ADN
