- @saal   = @item[:room].gsub(' ', '').downcase
- @format = @item[:format].downcase if @item[:format]

%audio{ id: "#{@saal}_#{@format}", controls: true, preload: 'auto' }
  %source{ src: "http://hls.streaming.voc.media.ccc.de/#{@saal}.opus", type: "audio/ogg; codecs='opus'", title: "Opus"}
  %source{ src: "rtmp://rtmp.streaming.voc.media.ccc.de:1935/stream/#{@saal}.mp3", type: "audio/mpeg; codecs='mp3'", title: "MP3" }

%span{ id: "player-mode" }

:javascript
  $('audio').mediaelementplayer({
    // shows debug errors on screen
    enablePluginDebug: true,
    //defaultVideoWidth: 1024,
    //defaultVideoHeight: 576,
    features: ['playpause','progress','current','duration','tracks','volume', 'sourcechooser'],
    enableAutosize: false,
    pauseOtherPlayers: false,
    success: function(media, node, player) {
      $('#' + node.id + '-mode').html('mode: ' + media.title);
    }
    });
  });

