!!! 5
%html{ html_attrs('en') }
  %head
    %title
      30C3
      = @item[:title]

    %meta{ charset: 'utf-8' }
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
  %body
    #header
      #logo
        %img{ class: 'logo', src: '/img/logo.svg' }


    #menubar
      - # = render '_menu'
      möp

    #content
      = yield