%section
  %h3
    Auf Wiedersehen!

  Bis zum nächsten Jahr in Münster!

%section
  %h3
    Videoaufzeichnungen

  Videoaufzeichnungen fast aller Vorträge finden Sie im <a href="http://www.fossgis.de/wiki/Konferenz_2014/Videoaufzeichnung">FOSSGIS Wiki</a> oder auf <a href="http://youtube.com/fossgis">youtube.com/fossgis</a>
