%ul.sections
  - @config[:rooms].each do |room|
    - if @item[:title] =~ /#{room}/
      %li.selected
    - else
      %li
    %a{ href: "/#{room.gsub('/', '').gsub(' ', '').downcase}/", }= room
    %ul
      %li.theora
        %a{ href: "/formats/theora/#{room.gsub('/', '').gsub(' ', '').downcase}/"} theora
      %li.audio
        %a{ href: "/formats/audio/#{room.gsub('/', '').gsub(' ', '').downcase}/"} audio
