!!! 5
%html{ html_attrs('en') }
  %head
    %title
      STREAMING - FrOSCon 2013 -
      = @item[:title]

    %meta{ charset: 'utf-8' }
    %link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }
    %link{ href: '/css/video-js.css', type: 'text/css', rel: 'stylesheet' }

    %script{ src: '/js/video.js'}
    %script
      videojs.options.flash.swf = '/video-js.swf'

  %body
    #header
      #logo
        %a{ href: '/' }
          %img{ src: '/img/banner1x4_120pixel.png', alt: 'FrOSCon 8' }

    #menubar
      = render '_menu'

    #content
      = yield

      %p.menu_further_information
        %small
          %a{ href: 'http://programm.froscon.org/2013/' } Programm