---
title: Format summary
---

%p
  %strong
    As
  a result of laziness by a
  %em
    VOC
  member you should notice that
  %em
    Saal (MP7 OG)
  is also known as
  %em
    Saal1
  \,
  %br
  %em
    Konferenz (MP6 OG)
  is also known as
  %em
    Saal2
  \,
  %br
  and
  %em
    Vortrag (MP6 OG)
  is also known as
  %em
    Saal3
  \.

%p
  %strong
    Theora

  is a free and open source video compression format embedded with
  %em
    Vorbis
  in a
  %em
    Ogg
  container. It is usable with a web browser of this decade like
  %em
    Firefox
  or
  %em
    Chromium
  and is also usable with a media player like
  %em
    VLC.
    %br

  %small
    %ul
      %li
        %code
          %a{ href: 'http://live.streaming.sigint.ccc.de:8000/saal1.ogg'} http://live.streaming.sigint.ccc.de:8000/saal1.ogg
      %li
        %code
          %a{ href: 'http://live.streaming.sigint.ccc.de:8000/saal2.ogg'} http://live.streaming.sigint.ccc.de:8000/saal2.ogg
      %li
        %code
          %a{ href: 'http://live.streaming.sigint.ccc.de:8000/saal3.ogg'} http://live.streaming.sigint.ccc.de:8000/saal3.ogg
-#%p
  %strong
    H264/HLS

-#%ul
  %li
    %code

  %li
    %code

  %li
    %code

%p
  %strong
    Vorbis
  audio only streams.
  %br

  %small
    %ul
      %li
        %code
          %a{ href: 'http://live.streaming.sigint.ccc.de:8000/saal1_audio.oga'} http://live.streaming.sigint.ccc.de:8000/saal1_audio.oga
      %li
        %code
          %a{ href: 'http://live.streaming.sigint.ccc.de:8000/saal2_audio.oga'} http://live.streaming.sigint.ccc.de:8000/saal2_audio.oga
      %li
        %code
          %a{ href: 'http://live.streaming.sigint.ccc.de:8000/saal3_audio.oga'} http://live.streaming.sigint.ccc.de:8000/saal3_audio.oga