---
title: Format summary
---

%p
  As a result of laziness by a
  %strong
    VOC
  member you should notice that
  %strong
    Saal (MP7 OG)
  is also known as
  %strong
    Saal1
  \,
  %br
  %strong
    Konferenz (MP6 OG)
  is also known as
  %strong
    Saal2
  \,
  %br
  and
  %strong
    Vortrag (MP6 OG)
  is also known as
  %strong
    Saal3
  \.

%p
  %strong
    Theora

  is a free and open source video compression format embedded with
  %strong
    Vorbis
  in a
  %strong
    Ogg
  container. It is usable with a web browser of this decade like
  %strong
    Firefox
  or
  %strong
    Chromium
  and is also usable with a media player like
  %strong
    VLC.
    %br

  %small
    %code
      %ul
        %li
          %a{ href: 'http://theora.streaming.sigint.ccc.de:8000/saal1.ogg'} http://theora.streaming.sigint.ccc.de:8000/saal1.ogg
        %li
          %a{ href: 'http://theora.streaming.sigint.ccc.de:8000/saal2.ogg'} http://theora.streaming.sigint.ccc.de:8000/saal2.ogg
        %li
          %a{ href: 'http://theora.streaming.sigint.ccc.de:8000/saal3.ogg'} http://theora.streaming.sigint.ccc.de:8000/saal3.ogg

-#%p
  %strong
    H264/HLS

-#%ul
  %li
    %code

  %li
    %code

  %li
    %code

%p
  %strong
    Vorbis
  audio only streams.
  %br

  %small
    %code
      %ul
        %li
          %a{ href: 'http://theora.streaming.sigint.ccc.de:8000/saal1_audio.oga'} http://theora.streaming.sigint.ccc.de:8000/saal1_audio.oga
        %li
          %a{ href: 'http://theora.streaming.sigint.ccc.de:8000/saal2_audio.oga'} http://theora.streaming.sigint.ccc.de:8000/saal2_audio.oga
        %li
          %a{ href: 'http://theora.streaming.sigint.ccc.de:8000/saal3_audio.oga'} http://theora.streaming.sigint.ccc.de:8000/saal3_audio.oga