#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The string given to #compile and #route are matching patterns for
#   identifiers--not for paths. Therefore, you can’t match on extension.
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. “/about/” for the file
#   “content/about.html”). To select all children, grandchildren, … of an
#   item, use the pattern “/about/*/”; “/about/*” will also select the parent,
#   because “*” matches zero or more characters.

compile '/css/' do
  # don’t filter or layout
end

compile '/img/*/' do
  # Don't waste time compiling partials that will never be output
  nil
end

compile '/js/*/' do
  # Don't waste time compiling partials that will never be output
  nil
end

compile '/rtmp/*/' do
  filter :haml, { :ugly => true, autoclose: ['<source>'], format: :xhtml }
  layout 'default'
  filter :relativize_paths, :type => :html
end

compile '*' do
  unless item.binary?
    case item[:extension]
    when 'css'
      nil
    when 'scss'
      filter :sass, syntax: :scss
    when 'haml'
      filter :haml, { :ugly => true, autoclose: ['<source>'], format: :xhtml }
      layout 'default'
      filter :relativize_paths, :type => :html
    when 'js'
      nil
    else
      nil
    end
  end
end


route '/css/*/' do
  if item.identifier.start_with?('/css/_')
    item.identifier.chop + '.' + item[:extension]
  else
    if item.identifier.start_with?('/css/font/vjs_')
      item.identifier.chop + '.' + item[:extension]
    elsif item.identifier.start_with?('/css/font/mingraymono_regular_')
      item.identifier.chop + '.' + item[:extension]
    else
      item.identifier.gsub(/\/$/, '') + '.css'
    end
  end
end


route '/img/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '/js/*/' do
  item.identifier.chop + '.' + item[:extension]
end

route '*' do
  if item.binary?
    # Write item with identifier /foo/ to /foo.ext
    item.identifier.chop + '.' + item[:extension]
  else
    # Write item with identifier /foo/ to /foo/index.html
    item.identifier + 'index.html'
  end
end

layout '*', :haml, {:ugly => true, :autoclose => ['<source>', '<audio>', '<video>'], format: :xhtml}
