#flash
%div{ style: "background-color: black;color: #ccc;font-size:0.9em;padding:2px;text-align:center;"}
  telnet ascii.streaming.media.ccc.de 23
  %span{ style: "color: #666;" } # use 1,2,g,6 & l,h,f,s,o to switch hall and quality (preferable in real terminal))
  %ul
    %li o - Ober HD (1000x192))
    %li s - Super HD (640x192))
    %li f - Full HD (320x96))
    %li h - Retina (160x48))
    %li l - Terminal ( 80x24))
    %li m - Web-Telnet ( 60x23))
%script{ type: "text/javascript", src: "/js/swfobject.js" }
:javascript
  var flashvars = {};
  flashvars.settings = "/static/settings.xml";
  var params = {};
  params.menu = "false";
  params.bgcolor = "000000";
  swfobject.embedSWF("/static/flashterm.swf", "flash", "640", "440", "9.0.115", "/static/expressInstall.swf", flashvars, params, {});

  function setFocusOnFlash() {
    var fl = document.getElementById("flash");
    fl.focus();
  }
  swfobject.addLoadEvent(setFocusOnFlash);
